/*
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* You can add global styles to this file, and also import other style files */

/* To modify default bootstrap behaviour */

/* Remove padding which appears when Brand not included in navbar 
.navbar .container-fluid, .navbar-collapse {
   padding-left:0;
}
@media(max-width: 768px){
   .navbar-collapse{
       padding-left:30px;
       padding-right:30px;
   }
}
*/
/* ------------------------------------------ 

*/
.centered {
	margin-left:auto;
  margin-right:auto;
	display:block!important;
}
.email-text {
  height: 40em;
  width: 100%;
}
.material-icons {
  margin-right: 0.5em;
}
.table-container {
  overflow-y: scroll; 
  max-height: 40em;
}
.new-button,.edit-button {
  display: inline;
}
.edit-cell {
  min-width: 90px !important;
  width: 90px !important;
}
.delete-cell {
  min-width: 90px !important;
  width: 90px !important;
}
i {
  display: none !important;
}
.hidden-large {
   display: none!important;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}
table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
table th,
table td {
  padding: .625em;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .email-text {
    height: 20em;
    width: 100%;
  }
  .table-container {
    overflow: hidden; 
    max-height: 99999em;
  }
  .new-button,.edit-button,.hidden-small {
    display: none!important;
  }
  .hidden-large {
    display: block!important;
  }
  .header {
    font-weight: bold;
  } 
  i {
    display: block !important;
    float: left;
   }
  td > i {
    margin-right:2em!important; 
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }  
  table {
    border-bottom: 3px solid #ddd;
  }  
  table th, table td {
    border-bottom: 1px solid #ddd;
    padding: .3em .625em;
  }
  table td:first-child {
    width: 25%;
  }  
}
