/* To modify default bootstrap behaviour */

/* Remove padding which appears when Brand not included in navbar */
     .navbar .container-fluid, .navbar-collapse {
        padding-left:0;
     }

     @media(max-width: 768px){
        .navbar-collapse{
            padding-left:30px;
            padding-right:30px;
        }
     }