/* Adaptive layout of a table without headers */
.table {
    display:table;
}
.row {
    display:table-row;
}
.cell {
    display:table-cell;
    padding: 2px 4px 2px 4px;
    border-top: thin solid grey;
    border-left: thin solid grey;
    border-bottom: none;
    border-right: none;
}
.cell:last-child {
    border-right: thin solid grey;
}

.row:last-child .cell {
    border-top: thin solid grey;
    border-left: thin solid grey;
    border-bottom: thin solid grey;
}
.material-icons {
    font-size:16px;
    padding-top:6px;
    float:right;
    margin-right:4px;
}

@media screen and (max-width: 400px)  {
    .row{
        display:block;
        width: auto;
    }
    .cell {
        display: block;
        width: auto;
        border-right: thin solid grey;
    }
    .row:last-child .cell {
        border-bottom: none;
    }
    .row > .cell:last-child {
        border-bottom: thin solid grey;
    }
	.material-icons {
    	float:none;
	}
}
/* ------------------------------------------ */