 <div class="container" ng-controller="CompaniesCtrl as ctrl">
 Companies Page   
    <!-- New button -->     
    <div ng-click="ctrl.open('#popup-company')" style="text-align: left;"><i class="material-icons" style="font-size: 24px;float:left">add</i></div>
    <!-- 
    List of all companies 
    -->
    <div class="table">
    <!-- 
      <div class="row" ng-repeat="company in ctrl.companies track by $index">
    -->
      <div class="row" ng-repeat="company in ctrl.entities track by $index">
        <div class="select-edit" ng-click="ctrl.open('#popup-company', company)"><i class="material-icons" style="font-size: 16px;">create</i></div>
        <div class="cell" ng-bind="company.name"   ></div>
        <div class="cell" ng-bind="company.url"    ></div>
        <div class="cell" ng-bind="company.address"></div>
        <div class="cell" ng-bind="company.city"   ></div>
        <div class="cell" ng-bind="company.phone"  ></div>
      </div>
    </div>
    <!--  
    Creation or edit modal dialog 
    -->
	<div class="modal fade" id="popup-company" tabindex="-1" >
  	  <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title">Company</h4>
          </div>
          <div class="modal-body">
            <form>
            <!-- 
              <div class="form-group">
                <label for="cmp-name" class="control-label">Name</label>
                <input type="text" class="form-control" id="cmp-name" placeholder="Company Name" ng-model="ctrl.company.name">
              </div>
              <div class="form-group">
                <label for="cmp-name" class="control-label">URL</label>
                <input type="text" class="form-control" id="cmp-url" placeholder="URL" ng-model="ctrl.company.url">
              </div>
              <div class="form-group">
                <label for="cmp-name" class="control-label">Address</label>
                <input type="text" class="form-control" id="cmp-addr" placeholder="Address" ng-model="ctrl.company.address">
              </div>
              <div class="form-group">
                <label for="cmp-name" class="control-label">City</label>
                <input type="text" class="form-control" id="cmp-city" placeholder="City" ng-model="ctrl.company.city">
              </div>
              <div class="form-group">
                <label for="cmp-name" class="control-label">Phone</label>
                <input type="text" class="form-control" id="cmp-phone" placeholder="Phone" ng-model="ctrl.company.phone">
              </div>
              -->
              <div class="form-group">
                <label for="cmp-name" class="control-label">Name</label>
                <input type="text" class="form-control" id="cmp-name" placeholder="Company Name" ng-model="ctrl.entity.name">
              </div>
              <div class="form-group">
                <label for="cmp-name" class="control-label">URL</label>
                <input type="text" class="form-control" id="cmp-url" placeholder="URL" ng-model="ctrl.entity.url">
              </div>
              <div class="form-group">
                <label for="cmp-name" class="control-label">Address</label>
                <input type="text" class="form-control" id="cmp-addr" placeholder="Address" ng-model="ctrl.entity.address">
              </div>
              <div class="form-group">
                <label for="cmp-name" class="control-label">City</label>
                <input type="text" class="form-control" id="cmp-city" placeholder="City" ng-model="ctrl.entity.city">
              </div>
              <div class="form-group">
                <label for="cmp-name" class="control-label">Phone</label>
                <input type="text" class="form-control" id="cmp-phone" placeholder="Phone" ng-model="ctrl.entity.phone">
              </div>
           </form>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="ctrl.cancel('#popup-company')">Cancel</button>
           <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="ctrl.save('#popup-company')">Save</button>
         </div>
       </div>
     </div>
   </div>    
</div>


