<a routerLink="/positions/new"><i class="material-icons" style="float:right">add</i></a>
<a routerLink="/positions/new" class="btn btn-primary new-button" role="button">New Position</a>
<br><p>
<!-- 
List of all positions. On large displays, two tables, one for the headers
and one for the content, so the header remains visible during scrolling
-->
<div class="hidden-small">
  <table class="table-condensed">
    <thead>
      <tr>
        <th class="edit-cell"></th>
        <th class="delete-cell"></th>
        <th>Title   <span class="glyphicon glyphicon-triangle-bottom" (click)="sort('title')"></span></th>
        <th>Reference No.</th>
        <th>Company   <span class="glyphicon glyphicon-triangle-bottom" (click)="sort('company')"></span></th>
        <th>Person   <span class="glyphicon glyphicon-triangle-bottom" (click)="sort('person')"></span></th>
        <th>Date Posted   <span class="glyphicon glyphicon-triangle-bottom" (click)="sort('datePosted')"></span></th>
        <th>Date Applied   <span class="glyphicon glyphicon-triangle-bottom" (click)="sort('dateApplied')"></span></th>
        <!-- Pad for tble scrollbar --> 
        <th style="width:18px">&nbsp;</th>
      </tr>
    </thead>
  </table>
</div>
<div class="table-container hidden-small">
  <table class="table-condensed">  
    <tbody>
      <tr *ngFor="let p of positions; let i = index">
        <td class="edit-cell">
          <a [routerLink]="['/positions', positions[i].id]" class="btn btn-primary edit-button" role="button">Edit</a>
        </td>
        <td [class]="isDeletable(i)">
          <a (click)="delete(i)" class="btn btn-primary edit-button" role="button">Delete</a>
        </td>
        <td [class]="isNotDeletable(i)"></td>
        <td><a href="http://{{p.url}}" target="_blank">{{p.title}}</a></td>
        <td>{{p.reference}}</td>
        <td>{{p.getCompanyName()}}</td>
        <td>{{p.getPersonName()}}</td>
        <td>{{p.formatDatePosted()}}</td>
        <td>{{p.formatDateApplied()}}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- On small displays -->
<div class="table-container hidden-large">
  <table *ngFor="let p of positions; let i = index">
    <tr>
      <td class="select-edit" colspan="3">
        <i [routerLink]="['/positions', positions[i].id]" class="material-icons" style="font-size: 16px;">create</i>
        <i (click)="delete(i)" style="font-size: 16px;" [class]="isDeletable(i, true)">clear</i>
      </td>      
    </tr>
    <tr>
      <td class="header">Title</td>
      <td colspan="2">{{p.title}}</td>
    </tr>
    <tr>
      <td class="header">Reference No.</td>
      <td colspan="2">{{p.reference}}</td>
    </tr>
    <tr>
      <td class="header">URL</td>
      <td colspan="2"><a href="http://{{p.url}}" target="_blank">{{p.title}}</a></td>
    </tr>
    <tr>
      <td class="header">Company</td>
      <td colspan="2">{{p.getCompanyName()}}</td>
    </tr>
    <tr>
      <td class="header">Person</td>
      <td colspan="2">{{p.getPersonName()}}</td>
    </tr>
    <tr>
      <td class="header">Date Posted</td>
      <td colspan="2">{{p.formatDatePosted()}}</td>
    </tr>
    <tr>
      <td class="header">Date Applied</td>
      <td colspan="2">{{p.formatDateApplied()}}</td>
    </tr>
  </table>
</div>