<a routerLink="/companies/new"><i class="material-icons" style="float:right">add</i></a>
<a routerLink="/companies/new" class="btn btn-primary new-button" role="button">New Company</a>
<br><p>
<!-- 
List of all companies. On large displays, two tables, one for the headers
and one for the content, so the header remains visible during scrolling
-->
<div class="table-container hidden-small">
  <table>
    <thead>
      <tr>
        <th class="edit-cell"></th>
        <th>Name   <span class="glyphicon glyphicon-triangle-bottom" (click)="sort('name')"></span></th>
        <th>Phone</th>
        <th>Address</th>
        <th>City   <span class="glyphicon glyphicon-triangle-bottom" (click)="sort('city')"></span></th>
        <!-- Ensures column alignment when the scrollbar appears -->
        <th style="width:18px">&nbsp;</th>
      </tr>
    </thead>
  </table>
</div>
<div class="table-container hidden-small">
  <table>
    <tbody>
      <tr *ngFor="let c of companies; let i = index">
        <td class="edit-cell">
          <a [routerLink]="['/companies', i]" class="btn btn-primary edit-button" role="button">Edit</a>
        </td>
        <td><a href="http://{{c.url}}" target="_blank">{{c.name}}</a></td>
        <td>{{c.phone}}</td>
        <td>{{c.address}}</td>
        <td>{{c.city}}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- On small displays -->
<div class="table-container hidden-large">
  <table *ngFor="let c of companies; let i = index">
    <tr>
      <td class="select-edit" colspan="3">
        <i [routerLink]="['/companies', i]" class="material-icons" style="font-size: 16px;">create</i>
       </td>
    </tr>
    <tr>
      <td class="header">Name</td>
      <td colspan="2"><a href="http://{{c.url}}" target="_blank">{{c.name}}</a></td>
    </tr>
    <tr>
      <td class="header">Phone</td>
      <td colspan="2">{{c.phone}}</td>
    </tr>
    <tr>
      <td class="header">Address</td>
      <td colspan="2">{{c.address}}</td>
    </tr>
    <tr>
      <td class="header">City</td>
      <td colspan="2">{{c.citye}}</td>
    </tr>
  </table>
</div>