<a routerLink="/persons/new"><i class="material-icons" style="float:right">add</i></a>
<a routerLink="/persons/new" class="btn btn-primary new-button" role="button">New Person</a>
<br><p>
<!-- 
List of all persons. On large displays, two tables, one for the headers
and one for the content, so the header remains visible during scrolling
-->
<div class="table-container hidden-small">
  <table>
    <thead>
      <tr>
        <th class="edit-cell"></th>
        <th>Name   <span class="glyphicon glyphicon-triangle-bottom" (click)="sort('name')"></span></th>
        <th>Email</th>
        <th>Phone</th>
        <th>Company   <span class="glyphicon glyphicon-triangle-bottom" (click)="sort('company')"></span></th>
        <!-- Ensures column alignment when the scrollbar appears -->
        <th style="width:18px">&nbsp;</th>
      </tr>
    </thead>
  </table>
</div>
<div class="table-container hidden-small">
  <table>  
    <tbody>
      <tr *ngFor="let p of persons; let i = index">
        <td class="edit-cell">
          <a [routerLink]="['/persons', i]" class="btn btn-primary edit-button" role="button">Edit</a>
        </td>
        <td>{{p.name}}</td>
        <td>{{p.email}}</td>
        <td>{{p.phone}}</td>
        <td>{{p.getCompanyName()}}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- On small displays -->
<div class="table-container hidden-large">
  <table *ngFor="let p of persons; let i = index">
    <tr>
      <td class="select-edit" colspan="3">
        <i [routerLink]="['/persons', i]" class="material-icons" style="font-size: 16px;">create</i>
      </td>
    </tr>
    <tr>
      <td class="header">Name</td>
      <td colspan="2">{{p.name}}</td>
    </tr>
    <tr>
      <td class="header">Email</td>
      <td colspan="2">{{p.email}}</td>
    </tr>
    <tr>
      <td class="header">Phone</td>
      <td colspan="2">{{p.phone}}</td>
    </tr>
    <tr>
      <td class="header">Company</td>
      <td colspan="2">{{p.getCompanyName()}}</td>
    </tr>
  </table>
</div>