<!--
Create or edit a contact
-->
<div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">Contact</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="sel1">Person</label>
            <select class="form-control" id="sel1" name="person" [(ngModel)]="selectedPerson" (change)="selectPerson()">
              <option *ngFor="let p of persons">
                {{p.name}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="sel1">Position</label>
            <select class="form-control" id="sel1" name="position" [(ngModel)]="selectedPosition" (change)="selectPosition()">
              <option *ngFor="let p of positions">
                {{p.title}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label">Reference No.</label>
            <input type="text" class="form-control" name="name" disabled [(ngModel)]="positionReference">
          </div>
          <div class="form-group">
            <label class="control-label">Company</label>
            <input type="text" class="form-control" name="ref" disabled [(ngModel)]="companyName">
          </div>
          <div *ngIf='!isMeeting' class="form-group">
            <label>Email&nbsp;&nbsp;</label>
            <input class="select-email-or-phone" type="radio" [value]="isEmail" [checked]='isEmail' (change)="setEmail()">&nbsp;&nbsp;&nbsp;&nbsp;
            <label>Phone&nbsp;&nbsp;</label>
            <input class="select-email-or-phone" type="radio" [value]="isPhone" [checked]='isPhone' (change)="setPhone()">
          </div>
          <!-- Date and details inputs visible only for phone contact -->
          <div *ngIf='isPhone || isMeeting'>
            <div class="form-group">
              <label for="cmp-date" class="control-label">Date</label>
              <input type="date" class="form-control" name="date" [(ngModel)]="date">
            </div>
            <div class="form-group">
              <label for="cmp-details" class="control-label">Details</label>
              <input type="text" class="form-control" name="details" [(ngModel)]="contact.details">
            </div>
          </div>
          <!-- Emails selector visible only for email contact -->
          <div *ngIf='isEmail' class="table-container" id="message-list">
            <table *ngFor="let m of emails; let i = index">
              <tr>
                <td class="select-edit">
                  <button type="button" class="btn btn-sm" (click)="selectEmail(i)">Select</button>
                </td>
                <td>
                  <button type="button" class="btn btn-sm" (click)="viewEmail(i)">View</button>
                </td>
              </tr>
              <tr>
                <td class="header">Date</td>
                <td>{{m.formatDate()}}</td>
              </tr>
              <tr>
                <td class="header">From</td>
                <td>{{m.sender}}</td>
              </tr>
              <tr>
                <td class="header">To</td>
                <td>{{m.receiver}}</td>
              </tr>
              <tr>
                <td class="header">Subject</td>
                <td>{{m.subject}}</td>
              </tr>
            </table>
            <!-- Modal displays email content-->
            <div id="message-text" class="modal" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" (click)="hideContent()">&times;</button>
                    <h4 class="modal-title">{{emailSubject}}</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <textarea disabled="true" class="email-text">{{emailText}}</textarea>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="hideContent()">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="cancel()">Cancel</button>
        <button id="save-button" type="button" class="btn btn-primary" (click)="save()" disabled>Save</button>
      </div>
    </div>
  </div>
</div>